---
const {href, imgSrc, title, noShadow = false, imgWidth, imgHeight} = Astro.props;
---

<style>
  .feature-card__card {
    background-color: var(--theme-surface-1);
    color: var(--theme-on-surface-1);
    border-radius: var(--theme-shape-radius);
  }
  .feature-card__link {
    display: block;
    text-decoration: none;
  }
  .featured-card__content {
    padding: 1rem 1rem 0 1rem;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }
  .featured-card__content picture {
    width: 100%;
    height: 100%;
  }
  .feature-card__card .feature-card__img {
    --image-shadow: 0 -0.5rem 1rem rgba(138, 138, 138, 0.12);
    margin: 0 auto;
    width: clamp(60%, 80%, 480px);
    height: auto;
    object-fit: cover;
    /* border-radius: 1rem 1rem 0 0; */
    box-shadow: none;
    transform: translateY(0.5rem);
    transition: transform var(--theme-transition);
  }
  .feature-card__img--no-shadow {
    box-shadow: none;
  }
  .feature-card__card:hover .feature-card__img {
    transform: translateY(0);
  }
  .feature-card__title {
    font-family: var(--theme-font-family-sans);
  }
</style>


<div class="feature-card__card">
  <a class="feature-card__link" href={href}>
    <div class="featured-card__content">
      <h3 class="feature-card__title">{title}</h3>
      <!-- I would like to swap this out with Astro's Image integration soon but was having some issues with it at the moment so we're going old school here. -->
      <picture>
        <source srcset={`${imgSrc}.webp`} type="image/webp" >
        <img class={`feature-card__img${noShadow ? ' feature-card__img--no-shadow' : ''}`} src={`${imgSrc}.png`} alt={title} loading="lazy" width={imgWidth ?? 780} height={imgHeight ?? 585} decoding="async" style={imgWidth && imgHeight ? `width:${imgWidth}px;height:${imgHeight}px;object-fit:contain;` : undefined} >
      </picture>
    </div>
  </a>
</div> 

